<div>
    <h4 class="d-flex justify-content-center mt-5">Welcome to my final project!</h4>
    <p class="d-flex justify-content-center mt-4 gap-1">First of all thank you for taking a look to my final project!
        This wouldn't be done without the teachings of our wonderfull teachers in O.P.A CF5.<br>
        Inside you'll find a small javascript game that is being modified to serve the needs of the App.
        You can control the movement of the Hero with<br> the "W", "A", "S", "D" or the arrow keys. With the Enter or "spacebar" the dialogues or enable/disable items and actions inside the game.<br>
        The original code for the game can be found in here: https://www.coopmode.dev/series/pizza-legends-rpg or to Drew Conley's<br> youtube channel for the full tutorial: https://www.youtube.com/watch?v=fyi4vfbKEeo <br> In Order to Enter you'll have to register and then login with your Credential....You dont have to use real names or emails this App is just for<br> Educational perpose only!<br>
        Have Fun!    
        <br>
        -D1MK4L-        
    </p><a class="d-flex justify-content-center mt-2" role="button" routerLink="/user-registration-example">Register!</a>
    <p class="d-flex justify-content-center mt-4">Big thanks to Dr.A and The A-TEAM!<br>-----------Coding Factory Rules!-----------</p>
</div>
